if [ "$(uname -s)" = "Linux" ] ; then
    export PROCESSING_OS="linux"
fi
if [ "$(uname -s)" = "Darwin" ] ; then
    export PROCESSING_OS="macos"
fi
# arm is not supported yet
PROCESSING_ARCH=x64

dotenv env/4.0b8.env
dotenv .env
