if [ "$(uname -s)" = "Linux" ] ; then
    export PROCESSING_OS="linux"
    export PROCESSING_ARC=tgz
fi
if [ "$(uname -s)" = "Darwin" ] ; then
    export PROCESSING_OS="macos"
    export PROCESSING_ARC=zip
fi
# arm is not supported yet
PROCESSING_ARCH=x64

dotenv env/4.0b8.env
dotenv .env
